<section class='cart-drawer-outer fix fill x z20' data-component='cartDrawer'>
  <div class='cart-drawer-overlay abs fill js-overlay'></div>
  <div class='cart-drawer y x f abs top right bottom js-drawer'>
    <header class='cart-header outer y abs top left x'>
      <div class='cart-header-inner f aic rel y'>
        <button class='abs left button--reset js-close'>
          <svg viewBox="0 0 16 16" width="16" height="16" fill="none" stroke="currentcolor" stroke-width="3"><path d="M1.0606601717798212 1.0606601717798212 L14.939339828220179 14.939339828220179"></path><path d="M14.939339828220179 1.0606601717798212 L1.0606601717798212 14.939339828220179"></path></svg>
        </button>
        <h3 class='mv0 ac x'>You have <span class='js-cart-count'>{{ cart.item_count }}</span> items in your bag</h3>
      </div>
    </header>

    <div class='cart-drawer__items x y'>
      <div class='cart-drawer__items-inner js-items rel x y'>
        <div class='abs fill'>
          <svg viewBox="0 0 100 86" class='loader abs fill mxa cg'>
            <use xlink:href="#logo"></use>
          </svg>
        </div>
      </div>
    </div>

    <footer class='cart-checkout outer abs bottom left right'>
      <h5 class='cart-total f jcb'><span>Total</span> <span class='js-subtotal'>£-.--</span></h5>
      <div class='cart-notes ac'>(Excluding Shipping + TAX)</div>
      <div>
        {%
          include 'component-button' with
          tag: 'a',
          cta: 'Proceed to Checkout',
          href: '/checkout',
          className: 'no-ajax'
        %}
      </div>
    </footer>
  </div>
</section>
